<footer class="footer">
  <div class="footer-content">
    <div class="social-icons">
      <a href="#" class="social-link">
        <img src="facebook.png" alt="Facebook" class="social-icon">
      </a>
      <a href="#" class="social-link">
        <img src="instagram.png" alt="Instagram" class="social-icon">
      </a>
      <a href="#" class="social-link">
        <img src="linkedin.png" alt="LinkedIn" class="social-icon">
      </a>
    </div>
    <p class="copyright">© 2025 Techware Lab. All Rights Reserved.</p>
  </div>
</footer>