<div class="logos">
<div class="logo_items">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">

</div>
  <div class="logo_items">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">
<img src="Logo-6.png">
<img src="Logo-7.png">
<img src="Logo-8.png">

</div>
</div>