<section class="bento-section">
  <div class="grid">
    <div class="card logo1" tabindex="0">
      <img src="Logo-1.png" alt="Logo 1" class="card-logo1">
    </div>

    <div class="card logo3" tabindex="0">
      <img src="Logo-3.png" alt="Logo 3" class="card-logo3">
      <span class="card-text">LOGOIPSUM</span>
    </div>

    <div class="card logo4" tabindex="0">
      <img src="Logo-4.png" alt="Logo 4" class="card-logo4">
      <span class="card-text">LOGOIPSUM</span>
    </div>

    <div class="card logo5" tabindex="0">
      <img src="Logo-5.png" alt="Logo 5" class="card-logo5">
      <span class="card-text">LOGOIPSUM</span>
    </div>

    <div class="card logo2" tabindex="0">
      <img src="Logo-2.png" alt="Logo 2" class="card-logo2">
    </div>
  </div>
</section>